@font-face {
  font-family: "Funnel Sans";
  src: url("/fonts/FunnelSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("/fonts/FunnelSans-Bold.ttf");
  font-weight: bold;
}

:root {
  --background: #010102;
  --background-main: #07060a;
  --error: #ff6b84;
  --text: #f0e9ff;
  --outline: #211e2b;
}

body {
  font-family: "Funnel Sans";
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  background-color: var(--background-main);
  border-radius: 2rem;
  padding: 2rem;
  outline: 0.0625rem solid var(--outline);
  max-width: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
  width: 25rem;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

.button, button {
  background-color: var(--text);
  color: var(--background-main);
  border-radius: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  font: inherit;
  border: none;
  text-decoration: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
}

.action-row :is(.button, button) {
  border-radius: 0.75rem;
}

:is(.button, button):disabled {
  background-color: transparent;
  color: var(--text);
  outline: 0.0625rem dashed var(--outline);
  cursor: default;
  
}

form div:not(:has(input[type="checkbox"])) > label {
  display: block;
  width: fit-content;
  background-color: inherit;
  font-size: 0.8rem;
  line-height: 0.2rem;
  padding: 0 0.2rem;
  position: relative;
  left: 1rem;
}

input:not([type="submit"], [type="checkbox"]) {
  background-color: inherit;
  color: inherit;
  outline: 0.0625rem solid var(--outline);
  border-radius: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  font: inherit;
  border: none;
  text-decoration: none;
  user-select: none;
  width: calc(100% - 2rem);
}

.action-row {
  display: flex;
  border-radius: 1rem;
  gap: 1rem;
  overflow: hidden;
}

.action-row > * {
  flex-grow: 1;
}

form {
  background-color: inherit;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

form div {
  background-color: inherit;
}

sub {
  font-size: 0.8rem;
}

a:not(.button) {
  color: var(--text);
}

.error {
  color: var(--error);
}

.flex, .profile {
  display: flex;
  gap: 1rem;
}

.avatar {
  border-radius: 35%;
  aspect-ratio: 1 / 1;
  height: 6rem;
}

.profile {
  margin: 1lh 0;
}

.profile h2 {
  margin: 0;
}

.profile > div > div:not(:has(sub)) {
  margin: 0.5rem 0;
}

main > :is(h1, h2, p, .profile) {
  margin: 0;
}
