@font-face {
  font-family: "Funnel Sans";
  src: url("/fonts/FunnelSans-Regular.ttf");
}

:root {
  --background: #010102;
  --background-main: #07060a;
  --text: rgb(240, 233, 255);
  --outline: #211e2b;
}

body {
  font-family: "Funnel Sans";
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  background-color: var(--background-main);
  border-radius: 2rem;
  padding: 2rem;
  outline: 0.0625rem solid var(--outline);
  max-width: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
  width: 25rem;
  overflow: scroll;
}

a.button, button {
  background-color: var(--text);
  color: var(--background-main);
  border-radius: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  font: inherit;
  border: none;
  text-decoration: none;
  user-select: none;
  text-align: center;
}

.action-row {
  display: flex;
  gap: 1rem;
}

.action-row > * {
  flex-grow: 1;
}
