@font-face {
  font-family: "Funnel Sans";
  src: url("/fonts/FunnelSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Funnel Sans";
  src: url("/fonts/FunnelSans-Bold.ttf");
  font-weight: bold;
}

:root {
  --black: #010102;
  --black2: #07060a;
  --black3: #2d293b;
  --black4: #7c70a4;
  --white: #f0e9ff;
  --red: #ff6b90;
  --red-dark: #270e14;
  --orange: #ff6964;
  --orange-dark: #220d0c;
  --indigo: #8c84ff;
  --indigo-dark: #14122c;
  --pink: #ff7eea;
  --pink-dark: #22111f;

  color-scheme: darkr;
}

body {
  font-family: "Funnel Sans";
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  background-color: var(--black2);
  border-radius: 2rem;
  padding: 2rem;
  outline: 0.0625rem solid var(--black3);
  max-width: calc(100% - 4rem);
  max-height: calc(100% - 9rem);
  width: 25rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1lh;
}

main > * {
  flex-shrink: 0;
}

.button, button {
  background-color: var(--black2);
  color: var(--white);
  outline: 0.0625rem solid var(--black3);
  border-radius: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  font: inherit;
  border: none;
  text-decoration: none;
  user-select: none;
  text-align: center;
  cursor: pointer;
  transition: outline-color 0.1s, color 0.1s, background-color 0.1s;
}

:is(.button, button):disabled {
  background-color: transparent;
  color: var(--white);
  outline: 0.0625rem dashed var(--black3);
  cursor: default;
}

:is(a, .button, button):is(:hover, :focus-visible) {
  filter: brightness(1.3);
}

form div:not(:has(input[type="checkbox"])) > label {
  display: block;
  width: fit-content;
  background-color: inherit;
  font-size: 0.8rem;
  line-height: 0.2rem;
  padding: 0 0.2rem;
  position: relative;
  left: 1rem;
}

input:not([type="submit"], [type="checkbox"]) {
  background-color: inherit;
  color: inherit;
  outline: 0.0625rem solid var(--black3);
  border-radius: 1rem;
  display: block;
  padding: 0.5rem 1rem;
  font: inherit;
  border: none;
  text-decoration: none;
  user-select: none;
  width: calc(100% - 2rem);
}

.action-row {
  display: flex;
  border-radius: 1rem;
  gap: 1rem;
}

.action-row > * {
  flex-grow: 1;
}

form {
  background-color: inherit;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

form div {
  background-color: inherit;
}

sub {
  font-size: 0.8rem;
  line-height: 0;
}

a:not(.button) {
  color: var(--indigo);
}

.error {
  color: var(--red);
}

.flex, .profile {
  display: flex;
  gap: 1rem;
}

.avatar {
  border-radius: 30%;
  aspect-ratio: 1 / 1;
  height: 6rem;
}

.profile {
  margin: 1lh 0;
}

.profile h2 {
  margin: 0;
}

.profile > div > div:not(:has(sub)) {
  margin: 0.5rem 0;
}

main > :is(h1, h2, h3, p, .profile, ul, ol) {
  margin: 0;
}

ul, ol {
  display: flex;
  flex-direction: column;
  gap: 0.5lh;
}

#session-list button {
  writing-mode: sideways-lr;
  text-orientation: mixed;
}

:is(button, .button).red {
  outline-color: var(--red);
  background-color: var(--red-dark);
  color: var(--red);
}

:is(button, .button).orange {
  outline-color: var(--orange);
  background-color: var(--orange-dark);
  color: var(--orange);
}

:is(button, .button).indigo {
  outline-color: var(--indigo);
  background-color: var(--indigo-dark);
  color: var(--indigo);
}

:is(button, .button).pink {
  outline-color: var(--pink);
  background-color: var(--pink-dark);
  color: var(--pink);
}
