@font-face {
  font-family: "Funnel Sans";
  src: url("/fonts/FunnelSans-Regular.ttf");
}

:root {
  --background: #040405;
  --background-main: #07060a;
  --text: rgb(240, 233, 255);
  --outline: #211e2b;
}

body {
  font-family: "Funnel Sans";
  background-color: var(--background);
  color: var(--text);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  background-color: var(--background-main);
  border-radius: 1.5rem;
  padding: 2rem;
  outline: 0.0625rem solid var(--outline);
  max-width: calc(100% - 2rem);
}
